
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 85%;
    margin: 50px auto;
    list-style: none;
  }
  .menu-item:hover {
    border-bottom: 1px solid rgb(47, 93, 149);
  }
